<div class="item-container">
  <img class="item-image" src="{{item.image}}" alt="product">
  <div>
    <p class="item-title">{{item.title}}</p>
    <div class="item-rating" [ngSwitch]="item.rating">
      <div *ngSwitchCase="5">⭐⭐⭐⭐⭐</div>
      <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
      <div *ngSwitchCase="3">⭐⭐⭐</div>
      <div *ngSwitchCase="2">⭐⭐</div>
      <div *ngSwitchCase="1">⭐</div>
    </div>
    <div class="item-price">price<span>{{item.price | currency: 'USD'}}</span></div>
    Add to cart
    <div class="item-stock">In Stock: <span>{{item.qty}}</span></div>
    <div *ngIf="false" class="out-of-stock">Out of Stock</div>
    <div class="input-group mb-3 add-to-cart-ctrl">
      <button class="btn btn-outline-secondary" type="button">-</button>
      <input type="text" class="form-control"[disabled]="true" value="50">
      <button class="btn btn-outline-secondary" type="button">+</button>
    </div>
  </div>
</div>
<div class="item-description">
  {{item.description??'No Description'}}
</div>
